<?xml version="1.0"?>

<MyOqlCodeGen>

    <Proc Owner="dbo" db="dbo">
        <Group Name="">
            <Entity Name="P_LoginShop" MapName="PLogin"  Return="result=PersonRule.Entity:out"/>
            <Entity Name="P_EditPassword" Return="" />
        </Group>
        <Group Name="LongFor">
            <Entity Name="SP_Import_RoomOwner" Return="" />
        </Group>
    </Proc>

</MyOqlCodeGen>
