<?xml version="1.0"?>

<MyOqlCodeGen>
  <Table  db="dbo" Owner="dbo">
    <Group>
      <Entity MapName="DeptAnnex" Name="E_DeptAnnex"  Enums="Key=DeptAnnexKeyEnum"   />
      <Entity MapName="Person" Name="EC_Person"   Enums="Sex=OrgSexEnum"  />
      <Entity MapName="Dept" Name="EC_Dept" Enums="BizType=DeptBizTypeEnum"   />
      <Entity MapName="Annex" Name="S_Annex"  />
      <Entity MapName="Dict" Name="S_Dict" Enums="Trait=DictTraitEnum"  />
      <Entity MapName="ResKey" Name="S_ResKey" />
      <Entity MapName="ResValue" Name="S_ResValue" Enums="Lang=LangEnum"  />
      <Entity MapName="PowerController" Name="S_PowerController"  />
      <Entity MapName="PowerAction" Name="S_PowerAction"  />
      <Entity MapName="PowerButton" Name="S_PowerButton"  />
      <Entity MapName="Log" Name="S_Log" Enums="Type=InfoEnum" db="Log" />
      <Entity MapName="Menu" Name="S_Menu" Enums="Status=IsAbleEnum" />
      <Entity MapName="CacheTable" Name="S_CacheTable"   />
      <Entity MapName="Role" Name="EC_Role" />
      <Entity MapName="PersonRole" Name="EC_Person_Role" />
      <Entity MapName="EnterpriseShowCase" Name="P_EnterpriseShowCase"  />
      <Entity MapName="NoticeShowCase" Name="P_NoticeShowCase"   />
      <Entity MapName="Community" Name="S_Community" />
      <Entity MapName="Dept_Community" Name="E_Dept_Community" />
      <Entity MapName="Zone" Name="S_Zone"  />
      <Entity MapName="City" Name="S_City" />
      <Entity MapName="Province" Name="S_Province" />

    </Group>
    <Group Name="Shop">
      <Entity MapName="ProductType" Name="EC_ProductType"   />
      <Entity MapName="NoticeType" Name="E_NoticeType"  />
      <Entity MapName="NoticeInfo" Name="E_NoticeInfo"  />
      <Entity MapName="ProductClicks" Name="E_ProductClicks" />
      <Entity MapName="ContactMsg" Name="E_ContactMsg"  />
      <Entity MapName="ProductAnnex" Name="EC_ProductAnnex"  />
      <Entity MapName="ProductInfo" Name="EC_ProductInfo"  />
      <Entity MapName="ProductDetail" Name="EC_ProductDetail"  />
    </Group>
  </Table>
</MyOqlCodeGen>
