<?xml version="1.0"?>

<MyOqlCodeGen>
    <View  db="dbo" Owner="dbo">
        <Group Name="View">
            <Entity Name="VPowerAction"
                    PKs="ID"
                    AutoIncreKey="ID"
                    MyTable="PowerController,PowerAction,PowerButton"/>

            <Entity Name="PM_VTxtRes" MapName="VTxtRes"
                    Enums="Lang=LangEnum"
                    PKs="Lang,ResID"
                    MyTable="ResKey,ResValue" />

        </Group>
    </View>
</MyOqlCodeGen>
