<?xml version="1.0"?>

<MyOqlCodeGen>
  <Table  db="dbo" Owner="dbo">
    <Group>
      <Entity Name="DeptAnnex"  Enums="Key=DeptAnnexKeyEnum"   />
      <Entity Name="Person"   Enums="Sex=OrgSexEnum"  />
      <Entity Name="Dept" Enums="BizType=DeptBizTypeEnum"   />
      <Entity Name="Annex"  />
      <Entity Name="Dict" Enums="Trait=DictTraitEnum"  />
      <Entity Name="ResKey" />
      <Entity Name="ResValue" Enums="Lang=LangEnum"  />
      <Entity Name="PowerController"  />
      <Entity Name="PowerAction"  />
      <Entity Name="PowerButton"  />
      <Entity Name="Log" Enums="Type=InfoEnum" db="Log" />
      <Entity Name="Menu" Enums="Status=IsAbleEnum" />
      <Entity Name="CacheTable"   />
      <Entity Name="Role" />
      <Entity Name="EnterpriseShowCase" PKs="ProductID" AutoIncreKey="" ComputeKeys="" UniqueKey="" FKs="" />
      <Entity Name="NoticeShowCase" PKs="NoticeID" AutoIncreKey="" ComputeKeys="" UniqueKey="" FKs="" />
      <Entity Name="Community" />
      <Entity Name="Dept_Community" />
      <Entity Name="Zone"  />
      <Entity Name="City" />
      <Entity Name="Province" />

    </Group>
    <Group Name="Shop">
      <Entity Name="ProductType"   />
      <Entity Name="NoticeType"  />
      <Entity Name="NoticeInfo"  />
      <Entity Name="ProductClicks" />
      <Entity Name="ContactMsg"  />
      <Entity Name="ProductAnnex"  />
      <Entity Name="ProductInfo"  />
      <Entity Name="ProductDetail"  />
    </Group>
  </Table>
</MyOqlCodeGen>
