<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<MyOql>
    <Entitys CacheTime="120" db="dbo"  OraclePKG="PKG" Owner="dbo" >
        <Group >
            <Entity Name="Menu" 	UsePower="="  Owner=""/>
        </Group>
        <Group Name="Log" >
            <Entity Name="Log"  />
        </Group>
        <Group Name="Proc" db="dbo">
            <Entity Name="VPowerAction" />
            <Entity Name="PM_VTxtRes"  />
            <Entity Name="P_LoginShop"  />
            <Entity Name="P_EditPassword"  />
            <Entity Name="SP_Import_RoomOwner"  />

        </Group>
    </Entitys>
    <DbProviders>
        <Provider Name="SqlServer" Type="MyOql.Provider.SqlServer,MyOql"/>
        <Provider Name="MySql" Type="MyOql.Provider.MySql,MyOql.MySql"/>
        <Provider Name="Oracle" Type="MyOql.Provider.Oracle,MyOql.OracleProvider"/>
    </DbProviders>
</MyOql>

