<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<client>
  <endpoint address="net.tcp://192.168.229.2:9999/ProductInfoService" binding="netTcpBinding"
      bindingConfiguration="NetTcpBinding_IWCFService" contract="ServiceContract.IProductInfoServiceContract"
      name="IProductInfoServiceContract" behaviorConfiguration="LargeQuotaBehavior">
    <identity>
      <dns value="computer" />
    </identity>
  </endpoint>
  <!--这里必须是 localhost -->
  <endpoint address="http://localhost/HyjService/Service/OleDbService.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOleDbService"
              contract="IOleDbService" name="BasicHttpBinding_IOleDbService" />
</client>
