<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<behaviors>
    <endpointBehaviors>
        <behavior name="LargeQuotaBehavior">
            <dataContractSerializer
              maxItemsInObjectGraph="100000000" />
        </behavior>
    </endpointBehaviors>
</behaviors>
