<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="MyOql" type="MyOql.MyOqlConfigSect,MyOql"/>
    <section name="couchbase" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase"/>
    <sectionGroup name="blowery.web">
      <section name="httpCompress" type="blowery.Web.HttpCompress.SectionHandler, blowery.Web.HttpCompress"/>
    </sectionGroup>
  </configSections>
  <MyOql configSource="MyOql.config"/>
  <system.serviceModel>
    <behaviors configSource="MyWcf.behaviors.config"/>
    <bindings configSource="MyWcf.bindings.config"/>
    <client configSource="MyWcf.client.config"/>
  </system.serviceModel>
  <!--<system.serviceModel>
        <client>
            <endpoint address="net.tcp://192.168.229.2:9999/ProductInfoService"
        binding="netTcpBinding" contract="ServiceContract.IProductInfoServiceContract"
        name="IProductInfoServiceContract" bindingConfiguration=""/>
        </client>
        -->
  <!--<bindings>
            <netTcpBinding>
                <binding name="Binding1">
                    <security mode="None">
                        <transport clientCredentialType="Windows" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>-->
  <!--
    </system.serviceModel>-->
  <connectionStrings>
    <add name="Log" connectionString="Data Source=.;Initial Catalog=HYJ_BJ_Shop_Log;Persist Security Info=True;User ID=sa;Password=sa;Max Pool Size=45;Min Pool Size=5;" providerName="SqlServer"/>
    <add name="dbo" connectionString="Data Source=.;Initial Catalog=HYJ_BJ_Data;Persist Security Info=True;User ID=sa;Password=sa;Max Pool Size=45;Min Pool Size=5;Pooling=False;" providerName="SqlServer"/>
    <add name="menu" connectionString="Server=127.0.0.1;Uid=root;Pwd=sa;Database=pm_dev;" providerName="MySql"/>
    <!--<add name="dbo" connectionString="dAMiTYnNUa86JrLpKSsN8ltsltobfOLSWSTWc9U6pi7YQxG9zwNb8PQthm1irUGq" providerName="Oracle"/>-->
    <!--<add name="dbo" connectionString="dAMiTYnNUa9xrLP6Z5zBJ5GgcOht2szlpZxlmheezUR5eXRojxVD4Th55Ps9X8CQbjPvke4pKHMWaBSGO5m+Id6n0iE439q0DbXVbRTK5T9zliZbxpUQZsueyOoqCNSuiSXTtY4N2BLu/1+G0Z9tQBSu9t/K2xkf2dAJ5/PzwKcSD+730CvBfn339u4TsCzX" providerName="SqlServer"/>-->
  </connectionStrings>
  <appSettings>
    <!--GridView表格默认显示的长度,超过长度则会截断,Mvc系统无用-->
    <add key="DisplayTextLength" value="300"/>
    <!--枚举资源化委托-->
    <add key="EnumEvent" value="MyWeb.MyEnumEvent,MyWeb"/>
    <add key="Domain" value=""/>
    <!--日志委托-->
    <add key="LogEvent" value="MyWeb.MyLogEvent,MyWeb"/>
    <!--<add key="CacheEvent" value="MyWeb.MyRemoteCacheEvent,MyWeb"/>-->
    <!--添加用户时,默认的密码-->
    <add key="InitPassword" value="123456"/>
    <!--默认的上传文件地址(暂无用)-->
    <add key="FileUpload" value="D:/LongForFile/"/>

    <!--正式服务器的SSO配置-->
    <!--
        <add key="SSOLogin" value="http://oa.longhu.net/" />
        <add key="SSOValidate" value="Http://oa.longhu.net:81/Online/Account.aspx?key={0}" />
        -->
    <!--开发服务器的伪造SSO配置-->
    <add key="SSOLogin" value="~/Login.aspx"/>
    <add key="SSOValidate" value="~/Host/Home/UserValidate.aspx?key={0}"/>

    <!--OA消息推送URL-->
    <add key="OAMsg" value="Http://www.longhu.net/API/TaskV1/Task.asmx"/>
    <!--在OA系统显示的CSM标题-->
    <add key="CsmTitleInOa" value="投诉报事管理"/>
    <!--在OA系统显示的CSM标题-->
    <add key="PmTitleInOa" value="投诉报事管理"/>
    <!--在OA系统里跳转到 CSM 的 URL -->
    <add key="CsmUrl" value="http://10.0.0.193/HYJ_Csm/"/>
    <!--在OA系统里跳转到 Pm 的 URL -->
    <add key="HyjUrl" value="http://10.0.0.193/HYJ_Bj/"/>
    <!--自动Windows服务使用的用户Id-->
    <add key="ServiceUserId" value="D03AB759-51CA-4DC9-8BAC-36F303CF0B3A"/>
    <!--Csm系统中短信使用的 AppId-->
    <add key="SmsAppId" value="006"/>

    <!--EtCell 报表定义文件路径-->
    <add key="EtFilePath" value="~/ReportWeb/et/"/>
    <!--EtCell 报表定义文件的 Logo 图像地址-->
    <add key="ReportLogo" value="~/Img/Report_Logo.jpg"/>

    <!--通联服务URL设置，十分重要-->
    <add key="TL_Url" value="http://113.108.182.5:8083/aipg/ProcessServlet"/>
    <!--通联代收业务代码，测试用保险类，正式系统请删除此配置。-->
    <add key="TL_BusinessCode" value="10600"/>
    <!--超级管理员用户-->
    <add key="SysAdmin" value="hyjadmin"/>
    <!--配置在出错时默认记录日志-->
    <add key="GodErrorLog" value="True"/>

    <add key="SmtpPassword" value=""/>
    <add key="StandardRoleCode" value="201"/>
  </appSettings>
  <system.net>
    <!--<defaultProxy>
      <proxy
      usesystemdefault="False"
      proxyaddress="http://itgproxy.***.com:80"
      bypassonlocal="True"></proxy>
    </defaultProxy>-->
    <mailSettings>
      <smtp from="*@mail.longhu.com">
        <network host="smtp.263xmail.com"  defaultCredentials="false"  port="25" userName ="automailpmsys@mail.longhu.com" password="MeSsenge"></network>
      </smtp>
    </mailSettings>
  </system.net>
  <system.transactions>
    <defaultSettings timeout="00:15:00" />
  </system.transactions>
  
  <blowery.web>
    <httpCompress preferredAlgorithm="gzip" compressionLevel="high">
      <excludedMimeTypes>
        <add type="image/jpeg"/>
        <add type="image/gif"/>
        <!--<add type="image/png"/>-->
      </excludedMimeTypes>
      <excludedPaths/>
    </httpCompress>
  </blowery.web>
  
  <couchbase>
    <servers bucket="default" bucketPassword="" >
      <add uri="http://10.0.0.151:8091/pools/default"/>
    </servers>
  </couchbase>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Admin/User/Login" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    <!--<sessionState mode="SQLServer"
                  allowCustomSqlDatabase="true"
                  sqlConnectionString="data source=10.0.0.193;initial catalog=YG_SUPPLIER;persist security info=True;user id=sa;password=sa;"
                  cookieless="false"
                  timeout="60">
    </sessionState>-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="System.Linq"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="MyWeb"/>
        <add namespace="MyCon"/>
        <add namespace="MyCmn"/>
        <add namespace="MyOql"/>
        <add namespace="MyBiz"/>
        <add namespace="DbEnt"/>
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpHandlers>
    <httpModules>
      <!--<add name="CompressionModule" type="blowery.Web.HttpCompress.HttpModule, blowery.web.HttpCompress"/>-->
    </httpModules>
    <httpRuntime executionTimeout="60" maxRequestLength="209700" useFullyQualifiedRedirectUrl="false" requestValidationMode="2.0"/>

  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <!--<remove name="CompressionModule"/>
    <add name="CompressionModule" type="blowery.Web.HttpCompress.HttpModule, blowery.web.HttpCompress"/>-->
    </modules>
    <handlers>
      <remove name="UrlRoutingHandler"/>
      <remove name="MvcHttpHandler"/>
      <add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="2.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>