.ProfileImg img , .AboutImg img
{
    margin:10px;
    border-width:8px;
    border-style:ridge ;
    border-color: #FFD306 ;
}

.ListDivHeader
{
	color: #B2CFED;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
}
.labHead
{
	height: 108px;
	margin-left: 50px;/*失效。*/
	padding-top: 50px;
	vertical-align: middle;
	color: rgb(228,239,250);
	font-family: 华文行楷;
	font-size: 38px;
	color:White;
}
.labHead img
{
    vertical-align: middle;
}

.FootSplitLine
{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 2px;
	margin-bottom: 6px;
	height: 1px;
	background-color: black;
	border-bottom: solid 1px #455574;
	overflow:hidden;
}


.ContactImg
{
	background-image: url(contact_nowZh.gif);
}
.Title
{
    font-weight:bold ;
    font-size:large ;
}
/*特殊处理*/

.DivLang
{
	color: White;
	font-size: 14px;
	font-family: Arial;
	margin: 20px;
	float:right;
}

.Desc
{
	margin: 10px;
}


.SearchBtn
{
	float: right;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 4px;
	width: 74px;
	height: 24px;
	background-color: Transparent;
	background-image: url(inSearchButtonZh.gif);
	background-repeat: no-repeat;
}
.SearchTxt
{
	width: 172px;
	margin-top: 10px;
	margin-left: 8px;
}
.Search
{
	border: solid 1px #223554;
	background-color: #17263C;
}
.SearchInner
{
	border: solid 1px #213554;
	background-color: #17263C;
}

.InfoPad
{
	border: solid 1px #34435B;
	background-color: #869FB7;
}

.InfoPadInner
{
	border: solid 1px #ACBFD2;
	background-color: #869FB7;
	white-space: normal;
	font-family: Tahoma;
	font-size: 13px;
	padding: 8px;
	color:Black;
}
.List
{
	border: solid 1px #222B38;
	background-color: #354253;
}
.ListInner
{
	border: solid 1px #435468;
	background-color: #354253;
	padding: 5px;
	font-size: 13px;
}


.ListSplitDiv
{
	margin-top: 1px;
	margin-bottom: 5px;
	height: 1px;
	background-color: #232D39;
	border-bottom: solid 1px #4A5565;
	overflow:hidden;
}


.Viewy
{
	background-color: #E1C38F;
	border-style: solid;
	border-width: 1px;
}

.ViewyInner
{
	padding: 10px;
	background-color: #f1ebd5;
}

.Viewy, .Viewy *
{
	color: Black;
}

.ViewySplitLine
{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 2px;
	margin-bottom: 6px;
	height: 1px;
	background-color: #E8DEBC;
	border-bottom: solid 1px #F5F1E2;
	overflow:hidden;
}

.ViewyTit
{
	font-weight: bold;
	border-width: 0px;
	background-color: Transparent;
	color: #003399;
}

.PagerDiv
{
	margin-top: 10px;
	border: solid 1px #2e3d52;
	background-color: #869fb7;
	color: White;
}

.PagerInnerDiv
{
	padding: 5px;
	font-size: 12px;
	border: solid 1px #a9bcd0;
	margin: 0px;
}

.PagerDiv a
{
	color: White;
}
.PagerDiv img
{
	color: White;
	margin-top: 3px;
	border-width: 0px;
}

.WebPager A
{
	border: solid 1px #5a708c;
	color: #5A708C;
	padding: 2px;
	margin: 2px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: white;
}

.WebPager A.sel
{
	background-color: #5e90c3;
	color: White;
	font-weight: bold;
}
.WebPager a:hover
{
	background-color: #5e90c3;
	color: White;
}


.WebPager A.prenxt
{
	margin: 2px;
	margin-left: 20px;
	margin-right: 20px;
}

.MapRoot
{
	padding-left: 15px;
}

/*SendMsg*/
.SendMsgDiv
{
	background-color: #f2f6f9;
	padding: 10px;
}
.SendMsgDiv div
{
	color: #2e3d52;
}
.SendMsgFlash
{
	padding: 10px;
}
.SendMsgFlash img
{
	width:145px;
}
.SendMsgFlash div
{
	font-size: 13px;
	font-weight: bold;
}
.SendMsgTxtDiv
{
	float: right;
	width: 530px;
	padding: 10px;
}



/*Menu*/
.mainNavigat
{
	height: 29px; *margin-left:50px;
}

.mainNavigat ul
{
	margin: auto; *margin:0px0px0px39px!important;*margin:0px0px0px39px;
}

.mainNavigat li
{
	background-image: url( 'bg_menu_off.gif' );
	display: block;
	float: left;
	padding: 0;
	margin: 0;
}

.mainNavigat a:link, .mainNavigat a:visited
{
	display: block;
	font: bold 12px tahoma;
	width: 129px;
	height: 22px;
	float: left;
	color: white !important;
	background-repeat: no-repeat;
	text-align: center;
	padding: 8px 0 0 0;
	margin: 0;
}

.mainNavigat a:hover
{
	background-image: url( 'bg_menu_on.gif' );
	background-color: #b48e49;
	display: block;
	font: bold 12px tahoma;
	width: 129px;
	float: left;
	color: #FFFFCC !important;
	background-repeat: no-repeat;
	text-align: center;
	padding: 8px 0 0 0;
	margin: 0;
	text-decoration: none;
}

.mainNavigat .current a:link, .mainNavigat .current a:visited
{
	background-image: url( 'bg_menu_on.gif' );
	background-color: #b48e49;
	display: block;
	font: bold 12px tahoma;
	width: 129px;
	float: left;
	color: #FFFFCC !important;
	background-repeat: no-repeat;
	text-align: center;
	padding: 8px 0 0 0;
	margin: 0;
	text-decoration: none;
}

