input.TextHelperInput
{
    /*border: 2px solid #466791;*/
    background-color: #F3F8FF;
    border: solid 1px #A5ACB2;
    padding: 1px;
    min-width: 14px;
}
.TextHelperWrap
{
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    border-color: #ccc #aaa #aaa #ccc;
    border-style: solid;
    border-width: 1px 2px 2px 1px;
    box-shadow: 0 0 8px #ccc;
}
/*.TextHelperBorder
{
    background-color: #aaaaaa;
    display: block;
    z-index: 999999;
    margin: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #aaaaaa; 
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
}
*/
.TextHelper
{
    z-index: 999999;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    background-color: white; /*margin: -1px 1px 1px -1px;*/
    padding: 4px;
}

.TextHelper span
{
    cursor: pointer;
    border: 2px solid transparent;
    border-top-width: 1px;
    border-bottom: 0px solid gray;
    margin: 1px;
    padding: 4px;
    text-align: center;
    min-width: 12px;
}

.TextHelper .check
{
    background-color: #466791;
    border: 2px solid #466791;
    border-top-width: 1px;
    border-bottom-width: 1px;
    color: white;
}
.TextHelper_Loading
{
    background: url("images/load.gif") no-repeat scroll center center transparent;
}

.TextHelper .Error
{
    background-color: pink;
}
