<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="MyOql" type="MyOql.MyOqlConfigSect,MyOql"/>
		<section name="MyOqlCodeGen" type="MyOql.MyOqlCodeGenSect,MyOql"/>
		<section name="MyCmd" type="MyCmn.MyCommandConfig,MyCmn"/>
	</configSections>
	
    <MyOql>
		<DbProviders>
			<Provider Name="SqlServer" Type="MyOql.Provider.SqlServer,MyOql"/>
			<Provider Name="MySql" Type="MyOql.Provider.MySql,MyOql.MySql"/>
			<Provider Name="Oracle" Type="MyOql.Provider.Oracle,MyOql.Oracle"/>
		</DbProviders>
	</MyOql>
	
    <MyCmd>
		<Commands>
			<Command Name="Svn" Type="MyTool.GetFileFromSvnHandler,MyTool"/>
			<Command Name="CodeGen" Type="MyTool.MyOqlCodeGenHandler,MyTool"/>
			<Command Name="Vss" Type="MyTool.GetFileFromVssHandler,MyTool"/>
			<Command Name="NewFile" Type="MyTool.NewFileHandler,MyTool"/>
		</Commands>
	</MyCmd>
    
    <MyOqlCodeGen configSource="MyOqlCodeGen.config" />
    
	<connectionStrings>
		<!--服务器配置-->
    <add name="Log" connectionString="Data Source=.;Initial Catalog=Erp_Log;Persist Security Info=True;User ID=sa;Password=sa;Max Pool Size=45;Min Pool Size=5;" providerName="SqlServer"/>
    <add name="dbo" connectionString="Data Source=.;Initial Catalog=Erp;Persist Security Info=True;User ID=sa;Password=sa;Max Pool Size=45;Min Pool Size=5;" providerName="SqlServer"/>
    <!--<add name="dbo" connectionString="Data Source=longfor;Initial Catalog=MyWeb;Persist Security Info=True;User ID=sa;Password=vanceinfo@2011;Max Pool Size=45;Min Pool Size=5;" providerName="SqlServer" />-->
		<!--<add name="dbo" connectionString="Data Source=hyd-yxh-pc;Initial Catalog=LongFor;Persist Security Info=True;User ID=sa;Password=sa;Max Pool Size=45;Min Pool Size=5;" providerName="SqlServer"/>
        <add name="interface" connectionString="Data Source=hyd-yxh-pc;Initial Catalog=Interface;Persist Security Info=True;User ID=sa;Password=sa;Max Pool Size=45;Min Pool Size=5;" providerName="SqlServer"/>-->
		<!--yy-->
		<!--<add name="Log" connectionString="Data Source=192.168.33.34\csm;Initial Catalog=Pm_Log;Persist Security Info=True;User ID=sa;Password=LH_longfor;Max Pool Size=45;Min Pool Size=5;" providerName="SqlServer"/>
		<add name="pm" connectionString="Data Source=192.168.33.34\csm;Initial Catalog=PM_Club;Persist Security Info=True;User ID=sa;Password=LH_longfor;Max Pool Size=45;Min Pool Size=5;" providerName="SqlServer"/>-->
	</connectionStrings>
	<startup>
	</startup>
</configuration>
