<?xml version="1.0"?>
<!-- （自动生成）合成 MyOql.config，By: UDI-PC.于新海(新海)   At:2013/12/15 11:12:08 -->
<MyOqlCodeGen>
  <Table db="dbo" Owner="dbo">
    <Group>
      <Entity MapName="DeptAnnex" Name="E_DeptAnnex" Enums="Key=DeptAnnexKeyEnum" PKs="ID" AutoIncreKey="ID" FKs="DeptID(ud)=EC_Dept:ID,AnnexID(ud)=S_Annex:ID" />
      <Entity MapName="Person" Name="EC_Person" Enums="Sex=OrgSexEnum" PKs="UserID" FKs="Logo()=S_Annex:ID,DeptID()=EC_Dept:ID" />
      <Entity MapName="Dept" Name="EC_Dept" Enums="BizType=DeptBizTypeEnum" PKs="ID" UniqueKey="WebName" FKs="Logo()=S_Annex:ID,Title()=S_Annex:ID,TitleExtend()=S_Annex:ID" />
      <Entity MapName="Annex" Name="S_Annex" PKs="ID" AutoIncreKey="ID" />
      <Entity MapName="Dict" Name="S_Dict" Enums="Trait=DictTraitEnum" PKs="ID" AutoIncreKey="ID" />
      <Entity MapName="ResKey" Name="S_ResKey" PKs="Key" AutoIncreKey="ID" UniqueKey="ID" />
      <Entity MapName="ResValue" Name="S_ResValue" Enums="Lang=LangEnum" PKs="Lang,ResID" AutoIncreKey="ID" FKs="ResID()=S_ResKey:ID" />
      <Entity MapName="PowerController" Name="S_PowerController" PKs="ID" AutoIncreKey="ID" />
      <Entity MapName="PowerAction" Name="S_PowerAction" PKs="ID" AutoIncreKey="ID" FKs="ControllerID()=S_PowerController:ID" />
      <Entity MapName="PowerButton" Name="S_PowerButton" PKs="ID" AutoIncreKey="ID" FKs="ActionID(ud)=S_PowerAction:ID" />
      <Entity MapName="Log" Name="S_log" Enums="Type=InfoEnum" db="Log" PKs="Id" AutoIncreKey="Id" />
      <Entity MapName="Menu" Name="S_Menu" Enums="Status=IsAbleEnum" PKs="ID" />
      <Entity MapName="CacheTable" Name="S_CacheTable" PKs="Table" />
      <Entity MapName="Role" Name="EC_Role" PKs="Id" AutoIncreKey="Id" />
      <Entity MapName="PersonRole" Name="EC_Person_Role" PKs="Id" AutoIncreKey="Id" FKs="UserId()=EC_Person:UserID,RoleId()=EC_Role:Id" />
      <Entity MapName="EnterpriseShowCase" Name="P_EnterpriseShowCase" PKs="ProductID" />
      <Entity MapName="NoticeShowCase" Name="P_NoticeShowCase" PKs="NoticeID" />
      <Entity MapName="Community" Name="S_Community" PKs="CommID" FKs="ZoneId()=S_Zone:Id" />
      <Entity MapName="Dept_Community" Name="E_Dept_Community" PKs="Id" AutoIncreKey="Id" FKs="DeptId()=EC_Dept:ID,CommId()=S_Community:CommID" />
      <Entity MapName="Zone" Name="S_Zone" PKs="Id" AutoIncreKey="Id" FKs="CityId()=S_City:Id" />
      <Entity MapName="City" Name="S_City" PKs="Id" FKs="BelongTo()=S_Province:Id" />
      <Entity MapName="Province" Name="S_Province" PKs="Id" />
    </Group>
    <Group Name="Shop">
      <Entity MapName="ProductType" Name="EC_ProductType" PKs="ID" AutoIncreKey="ID" UniqueKey="Name,PID" FKs="DeptID()=EC_Dept:ID" />
      <Entity MapName="NoticeType" Name="E_NoticeType" PKs="ID" />
      <Entity MapName="NoticeInfo" Name="E_NoticeInfo" PKs="ID" AutoIncreKey="ID" FKs="NoticeTypeID(ud)=E_NoticeType:ID,Logo()=S_Annex:ID" />
      <Entity MapName="ProductClicks" Name="E_ProductClicks" PKs="ID" AutoIncreKey="ID" UniqueKey="Year,Month,ProductID" FKs="ProductID(ud)=EC_ProductInfo:ID" />
      <Entity MapName="ContactMsg" Name="E_ContactMsg" PKs="ID" AutoIncreKey="ID" />
      <Entity MapName="ProductAnnex" Name="EC_ProductAnnex" PKs="ID" AutoIncreKey="ID" FKs="ProductID(ud)=EC_ProductInfo:ID,AnnexID(ud)=S_Annex:ID" />
      <Entity MapName="ProductInfo" Name="EC_ProductInfo" PKs="ID" AutoIncreKey="ID" FKs="ProductTypeID(ud)=EC_ProductType:ID,Logo()=S_Annex:ID" />
      <Entity MapName="ProductDetail" Name="EC_ProductDetail" PKs="ID" AutoIncreKey="ID" FKs="ProductID()=EC_ProductInfo:ID" />
    </Group>
  </Table>
  <View db="dbo" Owner="dbo">
    <Group Name="View">
      <Entity Name="VPowerAction" PKs="ID" AutoIncreKey="ID" MyTable="PowerController,PowerAction,PowerButton" />
      <Entity Name="PM_VTxtRes" MapName="VTxtRes" Enums="Lang=LangEnum" PKs="Lang,ResID" MyTable="ResKey,ResValue" />
    </Group>
  </View>
  <Proc Owner="dbo" db="dbo">
    <Group Name="">
      <Entity Name="P_LoginShop" MapName="PLogin" Return="result=PersonRule.Entity:out" />
      <Entity Name="P_EditPassword" Return="" />
    </Group>
  </Proc>
  <Function Owner="dbo" db="dbo">
    <Group Name="Shop">
      <Entity Name="Split" Enums="Value=String" Paras="val=String:in,split=String:in" />
    </Group>
  </Function>
</MyOqlCodeGen>