<?xml version="1.0"?>
<!-- （自动生成）合成 MyOql.config，By: UDI-PC.于新海(新海)   At:2013/12/9 19:31:49 -->
<MyOqlCodeGen>
  <Table db="dbo" Owner="dbo">
    <Group>
      <Entity Name="DeptAnnex" Enums="Key=DeptAnnexKeyEnum" PKs="ID" AutoIncreKey="ID" FKs="DeptID(ud)=Dept:ID,AnnexID(ud)=Annex:ID" />
      <Entity Name="Person" Enums="Sex=OrgSexEnum" PKs="UserID" FKs="Logo()=Annex:ID,DeptID()=Dept:ID" />
      <Entity Name="Dept" Enums="BizType=DeptBizTypeEnum" PKs="ID" UniqueKey="WebName" FKs="Logo()=Annex:ID,Title()=Annex:ID,TitleExtend()=Annex:ID" />
      <Entity Name="Annex" PKs="ID" AutoIncreKey="ID" />
      <Entity Name="Dict" Enums="Trait=DictTraitEnum" PKs="ID" AutoIncreKey="ID" />
      <Entity Name="ResKey" PKs="Key" AutoIncreKey="ID" />
      <Entity Name="ResValue" Enums="Lang=LangEnum" PKs="Lang,ResID" AutoIncreKey="ID" />
      <Entity Name="PowerController" PKs="ID" AutoIncreKey="ID" />
      <Entity Name="PowerAction" PKs="ID" AutoIncreKey="ID" FKs="ControllerID()=PowerController:ID" />
      <Entity Name="PowerButton" PKs="ID" AutoIncreKey="ID" FKs="ActionID(ud)=PowerAction:ID" />
      <Entity Name="Log" Enums="Type=InfoEnum" db="Log" PKs="Id" AutoIncreKey="Id" />
      <Entity Name="Menu" Enums="Status=IsAbleEnum" PKs="ID" />
      <Entity Name="CacheTable" PKs="Table" />
      <Entity Name="Role" PKs="Id" AutoIncreKey="Id" />
      <Entity Name="EnterpriseShowCase" PKs="ProductID" AutoIncreKey="" ComputeKeys="" UniqueKey="" FKs="" />
      <Entity Name="NoticeShowCase" PKs="NoticeID" AutoIncreKey="" ComputeKeys="" UniqueKey="" FKs="" />
      <Entity Name="Community" PKs="CommID" FKs="ZoneId()=Zone:Id" />
      <Entity Name="Dept_Community" PKs="Id" AutoIncreKey="Id" FKs="DeptId()=Dept:ID,CommId()=Community:CommID" />
      <Entity Name="Zone" PKs="Id" AutoIncreKey="Id" FKs="CityId()=City:Id" />
      <Entity Name="City" PKs="Id" FKs="BelongTo()=Province:Id" />
      <Entity Name="Province" PKs="Id" />
    </Group>
    <Group Name="Shop">
      <Entity Name="ProductType" PKs="ID" AutoIncreKey="ID" UniqueKey="Name,PID" FKs="DeptID()=Dept:ID" />
      <Entity Name="NoticeType" PKs="ID" AutoIncreKey="ID" />
      <Entity Name="NoticeInfo" PKs="ID" AutoIncreKey="ID" FKs="NoticeTypeID(ud)=NoticeType:ID,Logo()=Annex:ID" />
      <Entity Name="ProductClicks" PKs="ID" AutoIncreKey="ID" UniqueKey="Year,Month,ProductID" FKs="ProductID(ud)=ProductInfo:ID" />
      <Entity Name="ContactMsg" PKs="ID" AutoIncreKey="ID" />
      <Entity Name="ProductAnnex" PKs="ID" AutoIncreKey="ID" FKs="ProductID(ud)=ProductInfo:ID,AnnexID(ud)=Annex:ID" />
      <Entity Name="ProductInfo" PKs="ID" AutoIncreKey="ID" FKs="ProductTypeID(ud)=ProductType:ID,Logo()=Annex:ID" />
      <Entity Name="ProductDetail" PKs="ID" AutoIncreKey="ID" FKs="ProductID()=ProductInfo:ID" />
    </Group>
  </Table>
  <View db="dbo" Owner="dbo">
    <Group Name="View">
      <Entity Name="VPowerAction" PKs="ID" AutoIncreKey="ID" MyTable="PowerController,PowerAction,PowerButton" AutoTable="PowerAction,PowerButton,PowerController" />
      <Entity Name="PM_VTxtRes" MapName="VTxtRes" Enums="Lang=LangEnum" PKs="Lang,ResID" MyTable="ResKey,ResValue" AutoTable="ResKey,ResValue" />
    </Group>
  </View>
  <Proc Owner="dbo" db="dbo">
    <Group Name="">
      <Entity Name="P_LoginShop" MapName="PLogin" Return="result=PersonRule.Entity:out" />
      <Entity Name="P_EditPassword" Return="" AutoTable="Person" />
    </Group>
  </Proc>
  <Function Owner="dbo" db="dbo">
    <Group Name="Shop">
      <Entity Name="Split" Enums="Value=String" Paras="val=String:in,split=String:in" />
    </Group>
  </Function>
</MyOqlCodeGen>